.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    position: relative;
    height: 100%;
    overflow: scroll;
}
.card {
    height: 365px;
    flex: 0 0 365px;
    margin: 10px;
    display: flex;
}
.fab-button {
    position: fixed;
    right: 32px;
    bottom: 96px;
    z-index: 998;
}