<form>
  <h2 md-dialog-title>{{title}}</h2>
  <md-input-container class="full-width" >
    <input mdInput  type="text" placeholder="Taks Content">
  </md-input-container>
  <md-radio-group>
    <md-radio-button *ngFor="let priority of priorities" [value]="priority.value">
      {{priority.label}}
    </md-radio-button>
  </md-radio-group>

  <md-input-container  class="fullwidth">
    <input mdInput [mdDatepicker]="dueDatepicker" placeholder="Task Deadline">
      <button mdSuffix [mdDatepickerToggle]="dueDatepicker"></button>
    </md-input-container>
  <md-datepicker #dueDatepicker></md-datepicker>
  <md-input-container  class="fullwidth">
    <input mdInput [mdDatepicker]="reminderDatepicker" placeholder="Task Reminder">
      <button mdSuffix [mdDatepickerToggle]="reminderDatepicker"></button>
    </md-input-container>
  <md-datepicker #reminderDatepicker></md-datepicker>

  <div md-dialog-actions>
    <button md-raised-button color="primary" (click) = "onClick()" type="button"> Save </button>
    <button md-button md-dialog-close>Close</button>
  </div>
</form>