<form [formGroup]="form" (ngSubmit)="onSubmit(form, $event)">
  <h2 md-dialog-title>{{title}}</h2>
  <md-input-container class="full-width" >
    <input mdInput  type="text" placeholder="Taks Content" formControlName="desc">
  </md-input-container>
  <md-radio-group class="full-width" formControlName="priority">
    <md-radio-button *ngFor="let priorityItem of priorities" [value]="priorityItem.value">
      {{priorityItem.label}}
    </md-radio-button>
  </md-radio-group>

  <div class="full-width">
    <app-chips-list [label]="'Change Owner'" [multi]="false" formControlName="owner"></app-chips-list>
  </div>
  <md-input-container class="full-width">
    <textarea mdInput placeholder="Note" formControlName="remark"></textarea>
  </md-input-container>
  <md-input-container  class="fullwidth">
    <input mdInput [mdDatepicker]="dueDatepicker" placeholder="Task Deadline" formControlName="dueDate">
      <button mdSuffix [mdDatepickerToggle]="dueDatepicker"></button>
    </md-input-container>
  <md-datepicker #dueDatepicker></md-datepicker>
  <md-input-container  class="fullwidth">
    <input mdInput [mdDatepicker]="reminderDatepicker" placeholder="Task Reminder" formControlName="reminder">
      <button mdSuffix [mdDatepickerToggle]="reminderDatepicker"></button>
    </md-input-container>
  <md-datepicker #reminderDatepicker></md-datepicker>

  <div md-dialog-actions *ngIf="notConfirm else confirm">
    <button md-raised-button color="primary"  [disabled]="!form.valid" type="submit"> Save </button>
    <button md-button md-dialog-close>Close</button>
  </div>
</form>
<ng-template #confirm>
  <div class="fill">
    <span class="fill-remaining-space mat-body-2">Confirm</span>
    <button md-button color="warn" type="button" (click)="reallyDel()">Remove</button>
    <button md-raised-button color="primary" type="button" (click)="onDelClick(true)">Cancel</button>
  </div>
</ng-template>