<form>
  <md-card>
    <md-card-header>
      <md-card-title> Login: </md-card-title>
    </md-card-header>
    <md-card-content>
      <md-input-container class="full-width" floatPlaceholder="float" >
        <input mdInput  type="text" placeholder="Email">
      </md-input-container>
      <md-input-container class="full-width">
        <input mdInput type="password" placeholder="Password">
      </md-input-container>
      <button md-raised-button type="button">Login</button>
    </md-card-content>
    <md-card-actions class="text-right">
      <p><a routerLink="/register">Create your account</a></p>
      <p><a href="">Forgot your password?</a></p>
    </md-card-actions>
  </md-card>
  <md-card>
    <md-card-header>
      <md-card-title>
        Quote of the Day:       
      </md-card-title>
    </md-card-header>
    <img md-card-image src="/assets/quote001.jpg" alt="">
    <md-card-content>
        <p>The best preparation for tomorrow is doing your best today.</p>
        <p class="text-right"> H. Jackson Brown, Jr.</p>
    </md-card-content>
  </md-card>
</form>